@model Real_Time_Chat_Application_Backend.Database.UserRegistration;

@{
    ViewData["Title"] = "Home Page";
}

<style>

    .row {
        place-content: center;
        padding: 8px;
    }

    form {
        border-radius: 10px;
        padding: 15px;
    }

</style>


<h2 class="text-center">Chat Here</h2>
<hr />

<body>

    <form asp-controller="Home" asp-action="Index" method="post">

        <div class="row">
            <div class="col-sm-1">
                <span>User</span>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <input type="text" id="userInput" class="form-control" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-1">
                <span>Message</span>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <input class="form-control" type="text" id="messageInput" />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group" style="display:flex; justify-content:center">
                    <input type="button" class="btn btn-primary" id="sendButton" value="Send Message" />
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-sm-12">
                <hr />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <ul id="messagesList"></ul>
            </div>
        </div>
    </form>
</body>

<script src="~/js/signalr/dist/browser/signalr.js"></script>

<script>
    "use strict";

    var connection = new signalR.HubConnectionBuilder().withUrl("/ConnectedHub").build();

    connection.on("ReceiveMessage", function (user, message) {
        var li = document.createElement("li");
        document.getElementById("messagesList").appendChild(li);

        li.textContent = `${user} : ${message}`;
    });

    connection.start().then(function () {
        document.getElementById("sendButton").disabled = false;
    }).catch(function (err) {
        return console.error(err.toString());
    });

    document.getElementById("sendButton").addEventListener("click", function (event) {
        var user = document.getElementById("userInput").value;
        var message = document.getElementById("messageInput").value;
        connection.invoke("SendMessage", user, message).catch(function (err) {
            return console.error(err.toString());
        });
        event.preventDefault();
    });
</script>
